body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 32px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: rgb(26, 65, 173);
    width: 100%;
    height: 100vh;
    display:flex;
    box-shadow: 4px 5px 3px rgba(0,0,0,.3);
}

.container .lists-add {
    display: inherit;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(245, 245, 226);
    margin-left: 50px;
    margin-top:40px;
    width: 23%;
    height: 70vh;
    align-items: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 5px 5px 4px rgba(0,0,0,.3);
}

.lists-add .title {
    margin: 20px;
    width: 65%;
    padding: 10px;
    font-size: 27px;
    border-radius: 8px;
}

.lists-add .title:hover {
    box-shadow: 2px 4px 4px rgba(0,0,0,.3) inset;
}

.lists-add .description {
    margin: 20px;
    width: 65%;
    padding: 10px;
    font-size: 19px;
    border-radius: 10px;
}

.lists-add .description:hover {
    box-shadow: 2px 4px 4px rgba(0,0,0,.3) inset;
}

.lists-add .saveBtn {
    background-color: rgb(5, 131, 16);
    padding: 15px;
    font-size: 25px;
    width: 60%;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: all;
}

.lists-add .saveBtn:hover {
    box-shadow: 2px 3px 5px rgba(0,0,0,.3);
    background-color: rgb(50, 197, 30);
}

.lists-container {
    width: 60%;
    margin-left: 0;
}

.lists-container ul li {
    flex: 1;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.lists-container .topics {
    display: flex;
    color: white;
    font-size: 26px;
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 70px;
    width: 100%;
}

.topics li {
    list-style-type: none;
    padding-right: 20%;
}

hr {
    margin-top: 40px;
    margin-left: 70px;
    width: 100%;
}

.lists {
    display: flex;
    color: black;
    width: 100%;
    background-color: white;
    margin-left: 70px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 4px 6px rgba(0,0,0,.3);
}

.lists .del {
    padding-left: 100px;
    font-size: 20px;
    color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-out;
}

.lists .del:hover {
    font-weight: bolder;
    font-size: 21px;
}

.lists .del::after {
    content: "X";
    font-family: "Font Awesome"; /* Replace with the appropriate font family */
    font-size: 20px; /* Adjust the size as needed */
    /* transform: translate(-50%, -50%); */
    background-color: red; /* Set the background color to red */
    color: white; /* Set the text color to white */
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add more styles to position and style the icon as desired */
